.banner-principal-decorativo
  &-1
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 30%
    right: 60%
    z-index: 2
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 5%
    right: 22%
  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: -10%
    right: 55%
  &-4
    animation: rotate 8s linear infinite
    position: absolute
    top: 37%
    right: 15% 
    z-index: -1
  &-5
    animation: rotate 8s linear infinite
    position: absolute
    top: 22%
    right: 68% 
  &-6
    animation: rotate 8s linear infinite
    position: absolute
    top: 28%
    right: 88%
.imagen-banner-1 i
    z-index: 2
  

@keyframes rotate 
  0%
    transform: rotate(0)

  100%
    transform: rotate(360deg)

@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)


.imagen-decorativa-1
  animation: float1 2.8s ease-in-out infinite alternate
  position: absolute
  top: 18%
  right: 4%
  width: 31%;
  
.imagen-decorativa-2
  animation: float1 2.5s ease-in-out infinite alternate
  position: absolute
  top: 62%
  right: 69%
  width: 21%

.imagen-decorativa-3
  animation: float1 2.5s ease-in-out infinite alternate
  position: absolute
  top: 73%
  right: 8%
  width: 27%

@media (max-width: 500px) 
  .imagen-decorativa-2
    animation: float1 2.5s ease-in-out infinite alternate
    position: absolute
    top: 547rem
    right: 18%
    width: 59%

.imagen-decorativa-4
  width: 75%


.bgr-tarjeta-1:before
    background: #FFF6F0 
.bgr-tarjeta-1
    background: #fff

.bgr-tarjeta-2:before
    background: #F67409
.bgr-tarjeta-2
    background: #FFF6F0

.bgr-tarjeta-3
    background: #F0F8EA

.bgr-tarjeta-4
    background: #6AAE2A

.bgr-tarjeta-5
    background: #F0F8EA

.tarjeta--gris 
    background-color: #F0F8EA

.bgr-tarjeta-6
    width: 180%
    max-width: initial

.bgr-tarjeta-7
    max-width: initial      

.img.tarjeta-tema-2
    width: 13%

.banner-principal__img
  z-index: 1;

.bloque-texto-b:before
    top: 40%
    bottom: 42px
    left: 29%
    right: 25px

.tarjeta_padding
    padding: 15px
    height: 400px
    width: 250px

.crd_hover_txt
  position: relative  
  padding: 0 !important
  overflow: hidden !important  
  &:hover    
    .crd_hover_txt--body   
      transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1) 
      transform: translateY(0)

  .crd_hover_txt--body
    position: absolute
    padding: 1.5rem
    bottom: 0    
    transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1)
    transform: translateY(calc( 100% - 3.85rem ))
    background-color: #6aae2ae0
  
  @media (min-width:1200px) and (max-width:1400px)  
    .crd_hover_txt--body
      p
        font-size: 0.85em
