.banner-principal-decorativo
  &-1
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 30%
    right: 60%
    z-index: 2
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 5%
    right: 22%
  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: -10%
    right: 55%
  &-4
    animation: rotate 8s linear infinite
    position: absolute
    top: 37%
    right: 15% 
    z-index: -1
  &-5
    animation: rotate 8s linear infinite
    position: absolute
    top: 22%
    right: 68% 
  &-6
    animation: rotate 8s linear infinite
    position: absolute
    top: 28%
    right: 88%
.imagen-banner-1 i
    z-index: 2
  

@keyframes rotate 
  0%
    transform: rotate(0)

  100%
    transform: rotate(360deg)

@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)


.imagen-decorativa-1
  animation: float1 2.8s ease-in-out infinite alternate
  position: absolute
  top: 18%
  right: 4%
  width: 31%;

@media (max-width: 500px) 
  .imagen-decorativa-1
    animation: float1 2.5s ease-in-out infinite alternate
    position: absolute
    top: 80rem
    right: 15%
    width: 70%
  
.imagen-decorativa-2
  animation: float1 2.5s ease-in-out infinite alternate
  position: absolute
  top: 355rem
  right: 69%
  width: 21%

@media (max-width: 500px) 
  .imagen-decorativa-2
    animation: float1 2.5s ease-in-out infinite alternate
    position: absolute
    top: 530rem
    right: 18%
    width: 59%

.imagen-decorativa-3
  animation: float1 2.5s ease-in-out infinite alternate
  position: absolute
  top: 73%
  right: 8%
  width: 27%

@media (max-width: 500px) 
  .imagen-decorativa-3
    animation: float1 2.5s ease-in-out infinite alternate
    position: absolute
    top: 515rem
    right: 15%
    width: 62%



.imagen-decorativa-4
  width: 48%
  margin-left: 33%

.imagen-decorativa-5
  width: 86%

.imagen-decorativa-6
  width: 75%

.bgr-tarjeta-1:before
    background: #FDDCC1 
.bgr-tarjeta-1
    background: #fff

.bgr-tarjeta-2:before
    background: #F67409
.bgr-tarjeta-2
    background: #FDDCC1 

.bgr-tarjeta-3
    background: #F0F8EA

.bgr-tarjeta-4
    background: #6AAE2A

.bgr-tarjeta-5
    background: #FFFF

.tarjeta--gris 
    background-color: #F0F8EA


.linea-tiempo-d .tarjeta
  .tarjeta--azul
    background-color: #FECE2F

.bgr-tarjeta-6
    width: 180%
    max-width: initial

.bgr-tarjeta-7
    max-width: initial     

.bgr-tarjeta-8 
    background-color:#C3E1AC

.bgr-tarjeta-9 
    background-color: #E5F2DB 

.bgr-tarjeta-10
    background: #C3E1AC

.bgr-tarjeta-11
    background-color: #FFF8DB

.bgr-tarjeta-12
    background-color: #FDFCF4

    
.tarjeta.color-primario--borde
    background-color:#FFF4F0

.img.tarjeta-tema-1
    width: 50%
    margin-left: 25%

@media (max-width: 500px) 
  .img.tarjeta-tema-1
    width: 25%
    margin-left: 37%

.img.tarjeta-tema-1-1
    width: 100%
    

@media (max-width: 500px) 
  .img.tarjeta-tema-1-1
    width: 40%
    margin-left: 25%

.img.tarjeta-tema-2
    width: 13%
    margin-left: 25%

.img.tarjeta-tema-1-2
    width: 100%

@media (max-width: 500px) 
  .img.tarjeta-tema-1-2
    width: 40%
    margin-left: 25%

.img.tarjeta-tema-1-3
    width: 100%

@media (max-width: 500px) 
  .img.tarjeta-tema-1-3
    width: 30%
    margin-left: 25%

.img.tarjeta-tema-1-4
    width: 100%

@media (max-width: 500px) 
  .img.tarjeta-tema-1-4
    width: 20%
    margin-left: 35%

.banner-principal__img
  z-index: 1;

.bloque-texto-b:before
    top: 40%
    bottom: 42px
    left: 33%
    right: 0px

.bloque-texto-a:before
    top: 45%
    bottom: 15px
    left: 0%
    right: 420px

.tarjeta_padding
    padding: 15px
    height: 400px
    width: 250px

.crd_hover_txt
  position: relative  
  padding: 0 !important
  overflow: hidden !important  
  &:hover    
    .crd_hover_txt--body   
      transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1) 
      transform: translateY(0)

  .crd_hover_txt--body
    position: absolute
    padding: 1.5rem
    bottom: 0    
    transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1)
    transform: translateY(calc( 100% - 3.85rem ))
    background-color: #6aae2ae0
  
  @media (min-width:1200px) and (max-width:1400px)  
    .crd_hover_txt--body
      p
        font-size: 0.85em

.img-tarjeta-linea-1
  @media (max-width: 500px)
    width: 50%;
    margin-left: 25%


.fondo-tema2-1
  background-image: url('../assets/curso/temas/tema-2/tema2-fondo1.svg')
  background-size: cover
  background-repeat: no-repeat
  background-position: top

.ampliar
  margin-left: -50px
  margin-right: -50px

.ampliar-2
  margin-left: -50px
  margin-right: -50px
  margin-bottom: -50px
  padding-bottom: 180px

.margen-contenido-fondo-tema2-1
    margin-top: -6rem 
.margen-fondo-tema2-1
    margin-top: 10rem 

.fondo-tema2-2
  background-image: url('../assets/curso/temas/tema-2/tema2-fondo2.svg')
  background-size: cover
  background-repeat: no-repeat
  background-position: top

.fondo-tema3
  background-image: url('../assets/curso/temas/tema-3/tema3-fondo.svg')
  background-size: cover
  background-repeat: no-repeat
  background-position: top

.ampliar-3
  margin-left: -50px
  margin-right: -50px
  margin-bottom: -50px
  padding-bottom: 180px

.margen-contenido-fondo-tema3
    margin-top: -6rem 
.margen-fondo-tema3
    margin-top: -4rem 